.main_content {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.main_content {
    min-height: 100%;
    overflow:auto;
    padding-bottom:162px;
}