html * {
    text-align: justify;
    font-family: Nunito, sans-serif !important;
}

button { 
    color:rgb(252, 252, 252); 
    font-size: 24px;
    border: none;
    font: sans-serif; 
    background-color:rgb(41, 75, 116); 
    border-radius: 4px;
    border-color: rgb(41, 75, 116); 
    text-align: center;
}

.button_to_form {
    margin-top: 2%;
}

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.whole_trip {
    margin-bottom: 4%;
    margin-left: 5%;
    min-height: 100%;
    overflow:auto;
    padding-bottom:325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 37%;
}

h1 {
    font-size: 45px;
}

body {
    padding-bottom: 100px;
    overflow-x: hidden;
}

.trip_image {
    float: left;
    padding: 0 20px 0px 0;
    margin-right: 1%;
    width: 42vw;
    height: 30vw;
}